
.jumbotron {
	color: white;
	background-color: transparent;
	padding-top: 25%;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 100%;
    height: 800px;
    background-image: url("../images/skyseaforest.jpeg");
    background-size: cover;
   	background-repeat: no-repeat;
   	margin-bottom: 100%;
}

.links {
	
	border-radius: 10px;
}

.contact {
	text-align: left;
}

text-align: ;